
.showTMP {
	display: none;	
}
.hidetrue {
	color: lightgrey;
	font-style: italic;
}

.hidefalse {
}

.inline {
    display: inline;   
    width: 100px;
    height: 20px;
    border: 2px solid red;
}