{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}</time>{{ if ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02") }} <time datetime="{{ .Lastmod.Format "2006-01-02" }}">(Updated {{ .Lastmod.Format "Jan 02, 2006" }})</time>{{ end }}
  </i>
</p>
{{ end }}
<content>
  {{ .Content }}
</content>

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
